*.pdf
zappy_gui
zappy_ai
zappy_server
*.o
*.a
.DS_Store
.idea/
CMakeFiles/
cmake-build-debug/
CMakeCache.txt
cmake_install.cmake
server/**/Makefile
build/
server/cmake-build-debug-docker/
intra_server

server/coding-style-reports.log

server/strings_intra_server.txt
*.id*
*.nam
*.til

.clang-suggested-fix
server.zip
*.bin

*.zip

ai/__pycache__/
